<div class="row hero messages-hero flex">
  <i class="fa fa-heart"></i>
</div>
<div class="my-container">
<%@favorites.each do |favorite|%>
<div class="card sticky-action z-depth-0" style="overflow: hidden;">
    <div class="card-image waves-effect waves-block waves-light">
      <div class="screenshot" style="background:url(<%= favorite.avatar.url%>) center; background-size:cover; height:200px"></div>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= favorite.name%><i class="material-icons right">more_vert</i></span>
      <p><%= favorite.description%></p>
    </div>

    <%= link_to favorite_user_project_path(favorite.user.id, favorite.id, type: "unfavorite"), method: :put do%>
    <div class="card-action">
      <i class="fa fa-close"></i>&nbsp; Remove from favorites
    </div>
    <% end %>

    <div class="card-reveal" style="display: none; transform: translateY(0px);">

      <span class="card-title grey-text text-darken-4"><%= favorite.user.name%><i class="material-icons right">close</i></span>
      <br>
      <p><%= favorite.user.summary%></p>
      <div class="social">
        <a class="btn btn-social-icon btn-twitter flat" href="https://twitter.com/<%= favorite.user.twitter%>" target="_blank">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon btn-linkedin flat" href="<%= favorite.user.linkedin%>">
          <span class="fa fa-linkedin"></span>
        </a>
        <a class="btn btn-social-icon btn-github flat" href="<%= favorite.user.github%>">
          <span class="fa fa-github"></span>
        </a>
      </div>
      
    </div>


</div>


<%end%>
</div>
