<div class="row flex hero signup-hero">
  <i class="fa fa-lock"></i>
</div>
<div class="row title-area">
  <div class="col-xs-12 text-center">
    <h3>Forgot your password?</h3>
  </div>
</div>
<div class="my-container">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions log-btn">
      <%= f.submit "Reset password", class:"btn" %>
    </div>
  <% end %>

  <div class="devse-shared-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
