
  <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <img class="background" src= <%= asset_path("space.jpg")%> alt="...">
      <a href="<%current_user%>">
        <%if current_user.type == "Speaker"%>
          <img class="circle" src= <%= current_user.avatar.url%> alt="...">
        <%elsif current_user.type == "Attendee"%>
          <img class="circle" src=<%= asset_path("guest.jpg")%> alt="...">
        <%else%>
          <img class="circle" src=<%= asset_path("guest.jpg")%> alt="...">
        <%end%>
      </a>
      <a href="<%current_user%>"><span class="white-text name"><%= current_user.name.capitalize%></span></a>
      <a href="mailto:<%=current_user.email%>"><span class="white-text email"><%= current_user.email%></span></a>
    </div></li>
    <li><%= link_to user_root_path, class:"waves-effect waves-turquoise" do %><i class="fa fa-home" aria-hidden="true"></i>Home <% end %></li>
    <li><%= link_to current_user, class:"waves-effect waves-turquoise" do%><i class="fa fa-user" aria-hidden="true"></i>My profile<%end%></li>
    <li><%= link_to current_user_favorites_path(current_user.id), class:"waves-effect waves-turquoise"  do%><i class="fa fa-heart" aria-hidden="true"></i>My favorites<%end%></li>
    <li><%= link_to agenda_index_path, class:"waves-effect waves-turquoise" do%><i class="fa fa-calendar" aria-hidden="true"></i>Agenda<%end%></li>
    <li><%= link_to projects_path, class:"waves-effect waves-turquoise" do%><i class="fa fa-bar-chart" aria-hidden="true"></i>Rate Projects<%end%></li>
    <li><%= link_to conversations_path, class:"waves-effect waves-turquoise" do%><i class="fa fa-comments-o" aria-hidden="true"></i>My Conversations<%end%></li>

    <li><%= link_to destroy_user_session_path, :method => :delete, class:"waves-effect waves-turquoise" do%><i class="fa fa-code" aria-hidden="true"></i>Sign Out<%end%></li>
  </ul>
