<div class="home-logged row">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <div class="intro-top">
    <div class="logo"><img src= <%= asset_path("logo.png")%> alt="..."></div>
    <%if current_user.try(:admin?)%>
       <h2>Welcome admin :)</h2>
     <%else%>
       <h2>Ok <%= current_user.name.capitalize%>, where should we start?</h2>
     <%end%>
  </div>

  <div class="row home-btn-nav">
    <%= link_to 'My Profile', current_user, class: "btn btn-flat btn-secondary"%>
    <%= link_to 'Presentations', agenda_index_path, class: "btn btn-flat btn-secondary"%>
    <%= link_to 'Rate projects', projects_path, class: "btn btn-flat btn-secondary"%>
    <%= link_to 'Search everything', new_user_registration_path, class: "btn btn-flat btn-secondary"%>
  </div>
</div>
