<div class="row hero messages-hero flex">
  <i class="fa fa-bar-chart"></i>
</div>
<div class="my-container">
  <%@projects.each do |project|%>
    <div class="card sticky-action z-depth-0" style="overflow: hidden;">
        <div class="card-image waves-effect waves-block waves-light">
          <div class="screenshot" style="background:url(<%= project.avatar.url%>) center; background-size:cover; height:200px"></div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= project.name%><i class="material-icons right">poll</i></span>

          <p><%= project.description%></p>
        </div>

        <div class="card-action">
          <%project.tag_list.each do |tag|%>
            <span class="label">
              <%= link_to tag, tag_path(tag)%>
            </span>
          <%end%>
        </div>

        <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4"><%= project.name%><i class="material-icons right">close</i></span>

          <%= form_for [project.user, project], url: user_project_ratings_path(project.user.id, project.id), method: "POST" do |f| %>

             <div class="form-group">

               <%= f.label :ratings%> <small>What grade do you wanna give?</small>

              <%= f.select( :ratings, (0..10).collect{|u| [u]})-%>

             </div>
             <%= f.submit "Rate", class:"btn" %>
           <% end %>
        </div>
    </div>
  <%end%>
</div>
