<h2>Updated project</h2>
<hr>
<div class="screenshot" style="background:url(<%= @project.avatar.url%>) center; background-size:cover; height:200px"></div>
<h3><%= @project.name%></h3>
<p><%= @project.description%></p>
<div class="tags">
  <%@project.tag_list.each do |tag|%>
  <span class="label">
    <%= link_to tag, tag_path(tag)%>
  </span>
  <%end%>
</div>

<p>Your rating is: <%= @average%></p>

<%= form_for [@user, @project], url: user_project_ratings_path(@user.id, @project.id), method: "POST" do |f| %>

   <div class="form-group">

     <%= f.label :ratings%> <small>What grade do you wanna give?</small>

     <%= f.select( :ratings, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].collect{|u| [u]})-%>
   </div>
   <%= f.submit "Rate", class:"btn" %>
 <% end %>
