
<div class="row hero messages-hero flex">
  <i class="fa fa-calendar"></i>
</div>

<div class="events">
  <%@projects.each do |project|%>
    <div class="event flex">
      <div class="col-xs-10 ev-body">
        <h4>
      <%=link_to project.name, user_project_path(project.user.id, project.id)%>
        </h4>
        <p class="speaker"><%=link_to project.user.name, project.user%></p>
        <div class="js-summary hidden">
          <p>
            Here is the project symmary. Swipe right to go to the user profile. This block expands on tap.
          </p>
        </div>
      </div>
      <div class="col-xs-2 half-blocks">
        <div class="mark-favorite half">
          <% if current_user.favorites.find_by(id: project.id)%>
            <%= link_to favorite_user_project_path(project.user.id, project.id, type: "unfavorite"), method: :put do %><i class="fa fa-heart" aria-hidden="true"></i><% end %>
          <%elsif current_user.favorites.find_by(id: project.id) == nil%>
            <%= link_to favorite_user_project_path(project.user.id, project.id, type: "favorite"), method: :put do %><i class="fa fa-heart-o" aria-hidden="true"></i><% end %>
          <%end%>
        </div>
        <div class="next half">
          <%=link_to speaker_path(project.user.id) do%>

          <i class="fa fa-angle-right"></i>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>

</div>
