<div class="row flex hero signup-hero">
  <i class="fa fa-rocket"></i>
</div>
<div class="row title-area">
  <div class="col-xs-12 text-center">
    <h3>Knock knock</h3>
  </div>
</div>
<div class="my-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions log-btn ">
      <%= f.submit "Log in" , class: "btn btn-large"%>
    </div>
  <% end %>
  <div class="devse-shared-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
