<div class="row flex hero signup-hero">
  <i class="fa fa-mobile-phone"></i>
</div>
<div class="my-container">
  <%= form_for [@user, @project], :url => user_project_path(@user.id, @project.id), :method => :PUT do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
</div>
<div class="row description-edit">
  <div class="col-xs-12">
    <div class="my-container">
      <%= f.label :description %>:
      <div class="field">
        <%= f.text_area :description, rows: "10" %>
      </div>
    </div>
  </div>
</div>
<div class="my-container">
  <div class="tags">
    <%= f.label :tag_list, "Tags (separated by commas)" %>:
    <%= f.text_area :tag_list %><br />
  </div>

  <div class="field">
    <%= f.label :avatar, class:"upload_pic_label" %><br />
    <%= f.file_field :avatar, class:"upload_pic"%>
  </div>
  <div class="actions-edit">
      <%= f.submit "Update", class: "btn btn-large waves-effect waves-light" %>
  <% end %>
</div>
