<div class="row flex hero signup-hero">
  <i class="fa fa-user"></i>
</div>

<div class="my-container">
  <div class="avatar" style="background: url(<%= current_user.avatar.url%>) center; background-size:cover", id="target"></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :avatar, class:"upload_pic_label" %><br />
      <%= f.file_field :avatar, class:"upload_pic"%>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :new_password, placeholder: "leave blank if you don't want to change it" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :new_password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class="social-edit">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-twitter"></i></span>
        <%= f.text_field :twitter, autofocus: true, class:"social-input", placeholder: "@twitter" %>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-linkedin"></i></span>
        <%= f.text_field :linkedin, autofocus: true, class:"social-input", placeholder: "www.linkedin.com/example"%>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-github"></i></span>
        <%= f.text_field :github, autofocus: true, class:"social-input", placeholder: "www.github.com/example" %>
      </div>
    </div>
</div>

<div class="row description-edit">
  <div class="col-xs-12">
    <div class="my-container">
      <h4>Let the world know how awesome you are</h4>
      <div class="field">
        <%= f.text_area :summary, rows:"5" %>
      </div>
    </div>
  </div>
</div>

<div class="my-container">
  <div class="actions-edit">
      <%= f.submit "Update", class: "btn btn-large waves-effect waves-light" %>
  <% end %>
  <%= link_to "Go back", :back, class:"btn btn-large button-disabled-color" %>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"btn-danger btn btn-large", method: :delete %>
  </div>
</div>
