<div class="row hero messages-hero flex">
  <i class="fa fa-envelope"></i>
</div>

<div>
  <div class="row conversation-header">
    <%= @conversation.subject %>
  </div>
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>
        <%if message.sender == current_user%>
          <div class="chat-item">
            <div class="col-xs-10 message-body left-sharp">
              <p><%= message.body %></p>

              <div class="sender-details">
                <%= message.sender.name %>
                  says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="avatar small" style="background: url(<%= message.sender.avatar.url%>) center; background-size:cover"></div>
            </div>
          </div>
        <%else%>
        <div class="chat-item">
          <div class="col-xs-2">
            <div class="avatar small" style="background: url(<%= message.sender.avatar.url%>) center; background-size:cover"></div>
          </div>
          <div class="col-xs-10 message-body right-sharp">
            <p><%= message.body %></p>

            <div class="sender-details">
              <%= message.sender.name %>
                says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
            </div>
          </div>
        </div>
        <%end%>
      <% end %>
    </div>
</div>
<div class="row fixed-bottom reply-conversation">
  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="col-xs-10">
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
  </div>
  <div class="row col-xs-2">
    <%= button_tag(type: "submit", class: "btn btn-secondary") do %>
    <i class="material-icons">message</i>
    <% end %>
  </div>
  <% end %>

</div>
