
<% if @speaker.id == current_user.id %>
  <script>
    $('.button-msg').text('You have 1 message')
    $('.contact .fa-envelope-o').addClass('full')
  </script>
<% else %>
  <script>
    $('.button-msg').text("Contact " + "<%= @speaker.name.capitalize%>")
  </script>
<% end %>

<div class="row intro">
  <div class="avatar" style="background: url(<%= @speaker.avatar.url%>) center; background-size:cover">
  </div>
  <h5 class="user-name">Hello <%= @speaker.name%></h5>
  <h6 class="title">Front-end developer</h6>
  <div class="social">
    <a class="btn btn-social-icon btn-twitter flat" href="https://twitter.com/<%= @speaker.twitter%>" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-facebook flat">
      <span class="fa fa-linkedin"></span>
    </a>
    <a class="btn btn-social-icon btn-linkedin flat">
      <span class="fa fa-github"></span>
    </a>
  </div>

  <button class="contact">
    <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<span class="button-msg"></span>
  </button>
</div>
  <!-- <a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a> -->
<div class="row summary">
  <div class="container">
    <h5>SUMMARY</h5>
    <p><%= @speaker.summary%></p>
  </div>
</div>
<div class="row project-desc">

    <%if @speaker.projects.empty?%>
    <div class="text-center">
      <div class="screenshot">
        <img src="https://source.unsplash.com/random/450x200" alt="">
      </div>
      <div class="body">
        <h3>Add a new project</h3>
        <a class="btn-large btn-floating waves-effect waves-light" href="<%= new_user_project_path(@speaker.id)%>"><i class="material-icons">add</i></a>
      </div>
    </div>
    <%else%>
      <%@projects.each do |project|%>
      <div class="screenshot" style="background:url(<%= project.avatar.url%>) center; background-size:cover; height:200px">

      </div>
      <div class="body">
        <h5><a class="small-icon" href="<%= edit_user_project_path(current_user.id, project.id)%>"><i class="material-icons">edit</i></a> PROJECT: <span class="project-name"><%= project.name%> </span></h5>
        <p><%= project.description%></p>
        <div class="tags">
          <%project.tag_list.each do |tag|%>
          <span class="label">
            <%= link_to tag, tag_path(tag)%>

          </span>
          <%end%>
        </div>
        <!-- <div class="tags"><span class="label">RUBY</span><span class="label">HTML</span><span class="label">CSS</span><span class="label">JavaScript</span></div> -->
      </div>
      <%end%>
    <%end%>

</div>
<div class="sticky-btm">

</div>
<script>
$(document).ready(function() {
  $('#test').editable();
});
</script>
