<% if @speaker.id == current_user.id %>
  <script>
    $('.button-msg').text('You have 1 message')
    $('.contact .fa-envelope-o').addClass('full')
  </script>
<% else %>
  <script>
    $('.button-msg').text("Contact " + "<%= @speaker.name.capitalize%>")
  </script>
<% end %>

<div class="row intro">
  <div class="avatar" style="background: url(<%= @speaker.avatar.url%>) center; background-size:cover">
    <!-- <%= image_tag @speaker.avatar.url %> -->
    <!-- <%= form_for @speaker, url: speakers_path, html: { multipart: true } do |form| %>
      <%= form.file_field :avatar %>
    <% end %> -->
  </div>
  <h5 class="user-name">Hello <%= @speaker.name%></h5>
  <h6 class="title">Front-end developer</h6>
  <div class="social">
    <a class="btn btn-social-icon btn-twitter flat" href="https://twitter.com/<%= @speaker.twitter%>" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-facebook flat">
      <span class="fa fa-linkedin"></span>
    </a>
    <a class="btn btn-social-icon btn-linkedin flat">
      <span class="fa fa-github"></span>
    </a>
  </div>

  <button class="contact">
    <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<span class="button-msg"></span>
  </button>
</div>
  <!-- <a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a> -->
<div class="row summary">
  <div class="container">
    <h5>SUMMARY</h5>
    <p><%= @speaker.summary%></p>
    <a href="#" id="test" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>
  </div>
</div>
<div class="row project-desc">
  <div class="screenshot">
    <img src="https://source.unsplash.com/random/450x200" alt="">
  </div>
  <div class="body">
    <h5>PROJECT: <span class="project-name">PROJECT NAME</span></h5>
    <p>As a web designer with three years of experience in a growing international startup, I recently decided to dive head-first into the world of front end Web Development at IronHack. It’s been quite the adventure.</p>
    <div class="tags"><span class="label">RUBY</span><span class="label">HTML</span><span class="label">CSS</span><span class="label">JavaScript</span></div>
  </div>
</div>
<div class="sticky-btm">

</div>
<script>
$(document).ready(function() {
  $('#test').editable();
});
</script>
