<div class="fixed-top">
  <a class="btn-large btn-floating waves-effect waves-light" href="<%= edit_user_registration_path(@speaker.id)%>"><i class="material-icons">edit</i></a>
</div>


<!-- <%= render 'messagebtn' %> -->

<div class="row intro">
  <div class="avatar" style="background: url(<%= @speaker.avatar.url%>) center; background-size:cover">
  </div>
  <h4 class="user-name">Hello <%= @speaker.name%></h4>
  <h5 class="title">Enthusiastic Ironhacker</h5>
  <div class="social">
    <a class="btn btn-social-icon btn-twitter flat" href="https://twitter.com/<%= @speaker.twitter%>" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-linkedin flat">
      <span class="fa fa-linkedin"></span>
    </a>
    <a class="btn btn-social-icon btn-github flat">
      <span class="fa fa-github"></span>
    </a>
  </div>

  <a class="contact" href="<%= conversations_path%>">
    <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<span class="button-msg"></span>
  </a>
</div>
<div class="row summary">
  <div class="container">
    <h4>SUMMARY</h4>
    <p><%= @speaker.summary%></p>
  </div>
</div>
<div class="row project-desc">

    <%if @speaker.projects.empty?%>
    <div class="text-center">
      <div class="screenshot">
        <img src="https://source.unsplash.com/random/450x200" alt="">
      </div>
      <div class="body">
        <h3>Add a new project</h3>
        <a class="btn-large btn-floating waves-effect waves-light" href="<%= new_user_project_path(@speaker.id)%>"><i class="material-icons">add</i></a>
      </div>
    </div>
    <%else%>
      <%@projects.each do |project|%>
      <div class="screenshot" style="background:url(<%= project.avatar.url%>) center; background-size:cover; height:200px">

      </div>
      <div class="body">
        <h4>PROJECT: <span class="project-name"><%= project.name%> </span></h4>
        <p><%= project.description%></p>
        <div class="tags">
          <%project.tag_list.each do |tag|%>
          <span class="label">
            <%= link_to tag, tag_path(tag)%>

          </span>
          <%end%>
        </div>
        <br>
        <%= link_to "Edit project", edit_user_project_path(current_user.id, project.id), class:"btn btn-large btn-block" %>
      </div>
      <%end%>
    <%end%>

</div>
<div class="sticky-btm">

</div>
